---
import Icon from "./Icon.astro";
---

<section class="box skills">
  <div class="stack gap-2 lg:gap-4">
    <Icon
      icon="terminal-window"
      color="var(--accent-regular)"
      size="2.5rem"
      gradient
    />
    <h2>Full Stack</h2>
    <p>
      Crafting modern web applications with TypeScript, React/Next.js frontend
      and Node/Express backend. Focused on building type-safe, maintainable
      solutions.
    </p>
  </div>
  <div class="stack gap-2 lg:gap-4">
    <Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
    <h2>Tech Explorer</h2>
    <p>
      Enthusiastic about emerging technologies and always eager to expand my
      skillset. I embrace new challenges as opportunities for growth.
    </p>
  </div>
  <div class="stack gap-2 lg:gap-4">
    <Icon
      icon="strategy"
      color="var(--accent-regular)"
      size="2.5rem"
      gradient
    />
    <h2>Strategic Problem Solver</h2>
    <p>
      Breaking down complex challenges into manageable steps while keeping the
      end goal in sight. I focus on creating scalable, maintainable solutions
      that drive long-term success.
    </p>
  </div>
</section>

<style>
  .box {
    border: 1px solid var(--gray-800);
    border-radius: 0.75rem;
    padding: 1.5rem;
    background-color: var(--gray-999_40);
    box-shadow: var(--shadow-sm);
  }

  .skills {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .skills h2 {
    font-size: var(--text-lg);
  }

  .skills p {
    color: var(--gray-400);
  }

  @media (min-width: 50em) {
    .box {
      border-radius: 1.5rem;
      padding: 2.5rem;
    }

    .skills {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 5rem;
    }

    .skills h2 {
      font-size: var(--text-2xl);
    }
  }
</style>
